#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	pod2man --section=1 debian/linklint.pod > linklint.1
	touch build-stamp

clean:
	dh_testdir
	rm -f build-stamp configure-stamp
	rm -f linklint.1
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	install -m 755 linklint-* $(CURDIR)/debian/linklint/usr/bin/linklint
	install -m 644 linklint.1 $(CURDIR)/debian/linklint/usr/share/man/man1
	install -m 644 doc/*.html doc/*.gif $(CURDIR)/debian/linklint/usr/share/doc/linklint/html

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs READ_ME.txt
	dh_installman
	dh_installchangelogs CHANGES.txt
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
